body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 100%; margin: 5px; width: 100%; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    text-align: center; /* aligning text inside node. */
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: fit-content;
    font-family: Tahoma;
    font-size: 12px;
}
.nodeExample1:active { 
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.1); 
    margin: 1px 0 0 1px; 
    border: 2px solid #D3D3CB;
}
.node.big-commpany .node-name {
    line-height: 30px;
    color: #9B9B9B;
}
.nodeExample1:hover .node-name {
    color: #8B8B8B;
    text-shadow: 1px 1px rgba(0,0,0,.15);
}

.nodeExample1 img {
    margin-right:  10px;
}