name: Build

on:
  push:
    branches:
      - master
      - dev

jobs:
  build:

    runs-on:
      - macos-10.15
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      id:   cache
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    # - name: Install brew packages
    #   run: brew install imagemagick

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    
    - name: Install brew & npm & r
      run: |
        echo RUNNING INSTALL ASSIST
        treeplotter install-assist
      
    - name: Test with pytest
      run: |
        pytest -v

